<aside class="sidebar" aria-label="Related links">
  <nav class="side-nav">
    <h2>Contents</h2>
    <a href="{{ site.Home.RelPermalink }}">HOME</a>
    {{ range where site.RegularPages "Params.weight" "le" 50 }}
      <a href="{{ .RelPermalink }}">{{ .Params.navTitle | default .Title }}</a>
    {{ end }}
    <details class="side-dropdown">
      <summary>WORKSHOP</summary>
      <div>
        {{ range where (where site.RegularPages "Params.weight" "ge" 60) "Params.weight" "le" 80 }}
          <a href="{{ .RelPermalink }}">{{ .Params.navTitle | default .Title }}</a>
        {{ end }}
      </div>
    </details>
  </nav>
  <div class="partner-logos">
    <a href="https://subarutelescope.org/"><img src="{{ "images/subaru.jpg" | relURL }}" alt="Subaru Telescope"></a>
    <a href="http://www.ioa.s.u-tokyo.ac.jp/TAO/swims/"><img src="{{ "images/SWIMS.png" | relURL }}" alt="SWIMS"></a>
    <a href="https://ultimate.naoj.org/"><img src="{{ "images/ULTIMATE.jpg" | relURL }}" alt="ULTIMATE"></a>
    <a href="http://www-ir.ess.sci.osaka-u.ac.jp/prime/index.html"><img src="{{ "images/PRIME_Logo2a.png" | relURL }}" alt="PRIME"></a>
    <a href="https://www.euclid-ec.org/"><img src="{{ "images/euclid.jpg" | relURL }}" alt="Euclid"></a>
    <a href="https://roman.gsfc.nasa.gov/"><img src="{{ "images/roman.jpg" | relURL }}" alt="Roman Space Telescope"></a>
    <a href="https://www.jsps.go.jp/"><img src="{{ "images/jsps.jpg" | relURL }}" alt="JSPS"></a>
    <a href="https://www.jsps.go.jp/j-c2c/index.html"><img src="{{ "images/coretocore.jpg" | relURL }}" alt="Core-to-Core Program"></a>
  </div>
</aside>
